@charset "utf-8";

@import
  "partials/fonts",
  "partials/variables",
  "partials/mixins",
  "partials/normalize",
  "partials/utilities",
  "partials/typography",
  "partials/app"
;

$font-stack:    Helvetica Neue, sans-serif;
$primary-color: #036;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: #d9b3ff;
}

a {
    margin:20px;
    font-weight: bold;
    &:hover {
        color:orange;
    }
}

th {
    margin:20px;
    font-weight: bold;
    &:hover {
        color:orange;
    }
}

table {
  image-resolution: 300dpi;

}


nav {
  text-align: center;
}

img {
    width:  200px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  width: 200px;
  opacity: 0;
  transition: 1s ease;
  //background-image: url(assets/img/uploads/iraq_beauty.jpg);
}

.iraq {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.iraq:hover .overlay {
  opacity: 1;
}

.morocco {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.morocco:hover .overlay {
  opacity: 1;
}

.libya {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.libya:hover .overlay {
  opacity: 1;
}
