@charset "utf-8";

@import
  "partials/fonts",
  "partials/variables",
  "partials/mixins",
  "partials/normalize",
  "partials/utilities",
  "partials/typography",
  "partials/app"
;

$font-stack:    Helvetica Neue, sans-serif;
$primary-color: #036;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: #bafbfe;
  background-image: image("assets/img/uploads/backdrop.jpg");
  background-repeat: no-repeat;
}

.mySlides {
  display: none;
}

.homepara p{
  position: absolute;
  top: 200;
  left: 300;
}
/* Slideshow container */
.slideshow img{
  max-width: 1000px;
  position: relative;
  margin: auto;
  vertical-align: middle;
  width: 100%;
  height: 500px;
  position: center;
  top: 70;

  right: 400;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: none;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
  background-size: cover;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

a {
    margin:20px;
    font-weight: bold;
    &:hover {
        color:orange;
    }
}

th {
    margin:20px;
    font-weight: bold;
}

table {
  image-resolution: 300dpi;
}


.flags img {
    width: 225px;
    height: 150px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

//This is all the hover stuff for the countries

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  width: 225px;
  opacity: 0;
  transition: .5s ease;
}

.iraq {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.iraq:hover .overlay {
  opacity: 1;
}

.morocco {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.morocco:hover .overlay {
  opacity: 1;
}

.libya {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.libya:hover .overlay {
  opacity: 1;
}

.saudi {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.saudi:hover .overlay {
  opacity: 1;
}

.algeria {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.algeria:hover .overlay {
  opacity: 1;
}

.egypt {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.egypt:hover .overlay {
  opacity: 1;
}

.syria {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.syria:hover .overlay {
  opacity: 1;
}

.tunisia {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.tunisia:hover .overlay {
  opacity: 1;
}

.lebanon {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.lebanon:hover .overlay {
  opacity: 1;
}

.jordan {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.jordan:hover .overlay {
  opacity: 1;
}

.yemen {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.yemen:hover .overlay {
  opacity: 1;
}

.oman {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.oman:hover .overlay {
  opacity: 1;
}

//This is the responsive nav bar code

.topnav {
  overflow: auto;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  z-index: 1;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  z-index: 1;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

iframe {
  position: relative;
  top: 80px;
}

div.gallery {
  border: 3px solid #707;
}

div.gallery:hover {
  border: 3px solid #797;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsiveg {
  padding: 0 6px;
  width: 33.3%;
  float: left;
  height: 400px;
}

@media only screen and (max-width: 700px) {
  .responsiveg {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsiveg {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
