---
layout: default
---

<h2>{{ page.title }}</h2>

{% include page-intro.html %}

{{ content }}

<section>

  <h3>Stories</h3>
  <h5>Why did Hasna leave Bosr al-Harir?</h5>
  <p>Hasna al-Hariry is a 54 year old mother of ten. Her husband had died
    inside the Air Force Intelligence Branch, and she has been arrested twice,
    falsey accused of working this the enemy.<br><br>"After I was released, I
    didn’t think about leaving Jordan. But someone warned me that they will
    keep arresting me if I don’t leave, I would be sentenced in absentia to
    25 years by a civil court. Many other women were sentenced to 20 and 25
    years like me. Some of the women who I knew came to Jordan after they
    were raped and stigmatized. Many men and women were raped. After I left
    the prison, some of the FSA soldiers who knew me tried to convince me of
    leaving Syria. But I returned to Bosr al-Harir and decided to stay. When
    I came back, I was shocked and devastated by the huge amount of destruction."
<br><br>-Hasna al-Hariry</p>

<h5>Asm's Story</h5>
<p>`Asm, male from Qatana/rural area around Damascus, 20 years old, 2nd year student
  at the Mathematics Department, Damascus University, he currently lives in Amman.
  <br><br>"We were told in the ground hospital that his case was hopeless and he
  will die. My father insisted on taking him to Jordan for treatment. At the
  Jordan-Syrian border, a group [from the Free Army] helpedus and took my brother
  to the hospital in Za`tari Camp."
<br><br>-Asm</p>

<h5>Nevin Considering leaving Syria</h5>
<p>Nevin Dalati is 33, a graduate of the English Literature Department. He is
  married with two daughters in Turkey.<br><br>"The shops we own were also destroyed
  as barrels of explosives hit the area. Our farm in the fields was also damaged...
  There was nothing left to go back to... my house was destroyed, there is no source
  of income, and I don't have any savings to start afresh. My family and my friends
  have suffered similar losses, they can't help me. So I started to consider leaving
  Syria... but I did not think about seriously."
<br><br>-Nevin Dalati</p>

<h5>Yasmeen's Story</h5>
<p>Yasmeen, female from al-Misirfa/Dir`a, 26 years old, married and has a daughter,
  she currently in al-Dhilil.<br><br>"We were told in the ground hospital that his
  case was hopeless and he will die. My father insisted on taking him to Jordan
  for treatment. At the Jordan-Syrian border, a group [from the Free Army] helped
  us and took my brother to the hospital in Za`tari Camp."
<br><br>-Yasmeen</p>

  <ul>
    {% for post in site.posts %}
    {% assign author = site.data.authors[post.author] %}
      <li>
        <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
        <time datetime="{{ post.date }}">
          <small>
            <strong>{{ post.date | date_to_string }}</strong>
            {% if author %}
              by {{ author.name }}
            {% endif %}
          </small>
        </time>
        {{ post.excerpt | strip_newlines | truncate: 180 }}
      </li>
    {% endfor %}
  </ul>

</section>
