---
layout: default
---

<center><h2>Why Should We Learn About MENA?</h2></center>

<p>We should learn about the MENA Region to better understand politics, economies,
  and different cultures. It is important to understand that this region is not
  a constant warzone and there are great qualities about the MENA region.</p>

  <table>
    <tr>
      <th>
        <div class="iraq">
          <img src="assets/img/uploads/iraq_flag.jpg"/>
        <div class="overlay">
          <div class="image"><img src="assets/img/uploads/iraq_beauty.jpg"/></div>
        </div>
        </div>
        <p><a href="http://www.iraqiembassy.us/">Iraq</a></p><p> Capital: Baghdad</p><p></p>
      </th>
        <!--<img src="assets/img/uploads/iraq_flag.jpg"/><p><a href="http://www.iraqiembassy.us/">Iraq</a></p><p> Capital: Baghdad</p><p></p></th>-->
      <th>
        <div class="morocco">
          <img src="assets/img/uploads/morocco_flag.png"/>
        <div class="overlay">
          <div class="image"><img src="assets/img/uploads/moroxxo_beauty.jpg"/></div>
        </div>
        </div>
        <p><a href="http://www.maroc.ma/en">Morocco</a></p><p>Capital: Rabat</p><p></p>
      </th>
      <th>
        <div class="libya">
          <img src="assets/img/uploads/libya_flag.jpg"/>
        <div class="overlay">
          <div class="image"><img src="assets/img/uploads/libya_beauty.JPG"/></div>
        </div>
        </div>
        <p><a href="http://www.pm.gov.ly/index.php?option=com_k2&view=itemlist&layout=category&task=category&id=18&Itemid=234">Libya</a></p><p>Capital: Tripoli</p><p></p>
      </th>
    </tr>
    <tr>
      <th>
        <div class="saudi">
          <img src="assets/img/uploads/saudiarabia_flag.png"/>
        <div class="overlay">
          <div class="image"><img src="assets/img/uploads/saudi_beauty.jpg"/></div>
        </div>
        </div>
        <p><a href="https://www.saudi.gov.sa/wps/portal/snp/main">Saudi Arabia</a></p><p>Capital: Riyadh</p><p></p>
      </th>
      <th>
        <div class="algeria">
          <img src="assets/img/uploads/algeria_flag.png"/>
        <div class="overlay">
          <div class="image"><img src="assets/img/uploads/algeria_beauty.jpg"/></div>
        </div>
        </div>
        <p><a href="http://www.maroc.ma/en">Algeria</a></p><p>Capital: Algiers</p><p></p>
      </th>
      <th>
        <div class="egypt">
          <img src="assets/img/uploads/egpyt.png"/>
        <div class="overlay">
          <div class="image"><img src="assets/img/uploads/egypt_beauty.jpg"/></div>
        </div>
        </div>
        <p><a href="http://www.maroc.ma/en">Egypt</a></p><p>Capital: Cairo</p><p></p>
      </th>
    </tr>
    <tr>
      <th>
        <div class="syria">
          <img src="assets/img/uploads/syria_flag.png"/>
        <div class="overlay">
          <div class="image"><img src="assets/img/uploads/syria_beauty.jpg"/></div>
        </div>
        </div>
        <p><a href="http://www.maroc.ma/en">Syria</a></p><p>Capital: Damascus</p><p></p>
      </th>
      <th>
        <div class="tunisia">
          <img src="assets/img/uploads/tunisia_flag.jpg"/>
        <div class="overlay">
          <div class="image"><img src="assets/img/uploads/tunisia_beauty.jpg"/></div>
        </div>
        </div>
        <p><a href="http://www.maroc.ma/en">Tunisia</a></p><p>Capital: Tunis</p><p></p>
      </th>
      <th>
        <div class="lebanon">
          <img src="assets/img/uploads/lebanon_flag.jpg"/>
        <div class="overlay">
          <div class="image"><img src="assets/img/uploads/lebanon_beauty.jpg"/></div>
        </div>
        </div>
        <p><a href="http://www.maroc.ma/en">Lebanon</a></p><p>Capital: Beirut</p><p></p>
      </th>
    </tr>
    <tr>
      <th>
        <div class="jordan">
          <img src="assets/img/uploads/jordan_flag.png"/>
        <div class="overlay">
          <div class="image"><img src="assets/img/uploads/moroxxo_beauty.jpg"/></div>
        </div>
        </div>
        <p><a href="http://www.maroc.ma/en">Jordan</a></p><p>Capital: Amman</p><p></p>
      </th>
      <th>
        <div class="yemen">
          <img src="assets/img/uploads/yemen_flag.png"/>
        <div class="overlay">
          <div class="image"><img src="assets/img/uploads/moroxxo_beauty.jpg"/></div>
        </div>
        </div>
        <p><a href="http://www.maroc.ma/en">Yemen</a></p><p>Capital: Aden</p><p></p>
      </th>
      <th>
        <div class="oman">
          <img src="assets/img/uploads/oman_flag.png"/>
        <div class="overlay">
          <div class="image"><img src="assets/img/uploads/moroxxo_beauty.jpg"/></div>
        </div>
        </div>
        <p><a href="http://www.maroc.ma/en">Oman</a></p><p>Capital: Muscat</p><p></p>
      </th>
    </tr>
  </table>
{% include contact-form.html %}
