---
layout: default
---

<h2>Why Should We Learn About MENA?</h2>

{% include page-intro.html %}

{{ content }}
<p>We should learn about the MENA Region to better understand politics, economies,
  and different cultures. It is important to understand that this region is not
  a constant warzone and there are great qualities about the MENA region.</p>

  <table>
    <tr>
      <th><img src="img/iraq_flag.jpg"/><p>Capital: Baghdad</p><p> Height: 150px Width: 150px</p><p> Size is 17.7 kB</p></th>
      <th><img src="img/morocco_flag.jpg"/><p>Capital: </p><p> Height: 300px Width: 300px</p><p> Size is 35.4 kB</p></th>
      <th><img src="img/libya_flag.jpg"/><p>Capital: </p><p> Height: 450px Width: 450px</p><p> Size is 70.8 kB</p></th>
    </tr>
    <tr>
      <th><img src="img/saudiarabia.jpg"/><p>Capital: </p><p> Height: 150px Width: 150px</p><p> Size is 17.7 kB</p></th>
      <th><img src="images/gallery_submission.png" height="300" width="300"/><p>Capital: </p><p> Height: 300px Width: 300px</p><p> Size is 35.4 kB</p></th>
      <th><img src="images/gallery_submission.png" height="450" width="450"/><p>Capital: </p><p> Height: 450px Width: 450px</p><p> Size is 70.8 kB</p></th>
    </tr>
    <tr>
      <th><img src="images/landscape.jpg"/><p>Capital: </p><p> Height: 150px Width: 150px</p><p> Size is 10.3 kB</p></th>
      <th><img src="images/landscape200.jpg"/><p>Capital: </p><p> Height: 300px Width: 300px</p><p> Size is 20.6 kB</p></th>
      <th><img src="images/landscape300.jpg"/><p>Capital: </p><p> Height: 450px Width: 450px</p><p> Size is 41.2 kB</p></th>
    </tr>
    <tr>
      <th><img src="images/landscape.jpg"/><p>Capital: </p><p> Height: 150px Width: 150px</p><p> Size is 10.3 kB</p></th>
      <th><img src="images/landscape.jpg" height="300" width="300"/><p>Capital: </p><p> Height: 300px Width: 300px</p><p> Size is 20.6 kB</p></th>
      <th><img src="images/landscape.jpg" height="450" width="450"/><p>Capital: </p><p> Height: 450px Width: 450px</p><p> Size is 41.2 kB</p></th>
    </tr>
  </table>
{% include contact-form.html %}
