---
layout: default
---

<h2>MENA Region</h2>

  {% include page-intro.html %}

  {{ content }}
  <div class="mena-image"><image src= "assets/img/uploads/mena.jpg"/></div>
  <div class="mena-text">
    <h1 style="font-size:50px">Everything to Know About the MENA Region</h1>
    <p>Virtual Tour of the MENA Region</p>
    <button>Hire me</button>
  </div>
<style>
body {
  height: 100%;
  margin: 0;
}

.mena-image {
  image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 800px;
  width: 900px;
  background-size: cover;
  position: relative;
}

.mena-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: blue;
}

.mena-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.mena-text button:hover {
  background-color: #555;
  color: white;
}
</style>

  <section>

    <h3>Recent posts from the blog</h3>

    <ul>
      {% for post in site.posts limit:3 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

  </section>
