---
layout: default
---

<h2>MENA Region</h2>
<div class="slideshow">

  <div class="mySlides">
    <img src="assets/img/uploads/jordan_beauty.jpg" style= background-size: auto/>
  </div>

  <div class="mySlides">
    <img src="assets/img/uploads/moroxxo_beauty.jpg" style= background-size: auto/>
  </div>

  <div class="mySlides">
    <img src="assets/img/uploads/egypt_beauty.jpg" style= background-size: auto/>
  </div>

  <div class="mySlides">
    <img src="assets/img/uploads/tunisia_beauty.jpg" style= background-size: auto/>
  </div>

  <div class="mySlides">
    <img src="assets/img/uploads/syria_beauty.jpg" style= background-size: auto/>
  </div>

  <div class="mySlides">
    <img src="assets/img/uploads/lebanon_beauty.jpg" style= background-size: auto/>
  </div>

  <div class="mySlides">
    <img src="assets/img/uploads/oman_beauty.jpg" style= background-size: auto/>
  </div>

  <div class="mySlides">
    <img src="assets/img/uploads/libya_beauty.JPG" style= background-size: auto/>
  </div>

  <div class="mySlides">
    <img src="assets/img/uploads/iraq_beauty.jpg" style= background-size: auto/>
  </div>

  <div class="mySlides">
    <img src="assets/img/uploads/saudi_beauty.jpg" style= background-size: auto/>
</div>

<div class="mySlides">
  <img src="assets/img/uploads/yemen_beauty.jpg" style= background-size: auto/>
</div>

<div class="mySlides">
  <img src="assets/img/uploads/algeria_beauty.jpg" style= background-size: auto/>
</div>

</div>


<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>

  {% include page-intro.html %}

  {{ content }}


  <section>

    <h3>Events in the MENA Region</h3>

    <ul>
      {% for post in site.posts limit:3 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

  </section>
<script type="text/javascript" src="assets/main.js"></script>
